<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pago de servicio</title>
  <link rel="stylesheet" href="CSS/formularios.css">
</head>

<body>
  <main class="main">
    <img class="main__logo main__logo--header" src="/src/images/Recurso 2.png" alt="">
    <h1 class="main__title">Pago del servicio</h1>
    <form class="form" action="" id="form-Registro" novalidate>
      <div class="form__space form__space--selfRow">
        <label class="form__label" for="valor">Valor:</label>
        <input class="form__input" type="text" name="valor" disabled required>
      </div>
      <div class="form__space form__space--selfRow">
        <label class="form__label" for="placa">Placa:</label>
        <input class="form__input" type="text" name="placa" disabled required>
      </div>
      <div class="form__space form__space--selfRow">
        <label class="form__label" for="descuento">Descuento:</label>
        <input class="form__input" type="text" name="descuento"  disabled required>
      </div>
      <div class="form__space form__space--selfRow ">
        <label class="form__label" for="recibido">Dinero recibido:</label>
        <input class="form__input" type="text" name="recibido" required>
      </div>
      <div class="form__space form__space--selfRow">
        <label class="form__label" for="total">Total:</label>
        <input class="form__input resalt" type="text" name="total"  readonly required>
      </div>
      <div class="form__space form__space--selfRow">
        <label class="form__label" for="cambio">Cambio:</label>
        <input class="form__input" type="text" name="cambio" disabled>
      </div>
      <div class="form__space form__space--button">
        <button class="form__button" type="submit">Confirmar</button>
      </div>
    </form>
  </main>
</body>

</html>