<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lavados</title>
</head>

<body>
  <main class="main">
    <img class="main__logo main__logo--header" src="/src/images/Recurso 2.png" alt="">
    <h1 class="main__title">Registro de lavadores</h1>

    <form class="form form--little" action="" id="form-Registro" novalidate>
      <div class="form__space">
        <label class="form__label" for="nombre">Nombre del lavador:</label>
        <input class="form__input" type="text" name="nombre" placeholder="ej: Juan Perez" autocomplete="off" required>
      </div>
      <div class="form__space">
        <label class="form__label" for="cedula">Cedula:</label>
        <input class="form__input" type="text" name="cedula" placeholder="2222222" autocomplete="off" required>
      </div>

      <div class="form__space form__space--button">
        <button class="form__button" type="submit">Registrar</button>

      </div>

    </form>
  </main>
</body>

</html>