@import url(variables.css);
@import url(formularios.css);
@import url(inicio.css);
@import url(tables.css);

body{
  height: 100vh;
  max-width: 100vw;
  background-color: var(--colorPrincipal);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contenido{
  width: calc(100vw - var(--sectionSize));
  padding: 5%;
  display: flex;
  gap: 50px;
}
.contenido__logo{
  width: 300px;
  filter: drop-shadow(0px 10px 5px var(--colorSombras));
}
.contenido__inf{
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.contenido__title{
  font-size: 6.5rem;
  color: var(--colorAdicional);
}
.title__high{
  color: var(--colorTerciario);
  text-shadow: 0px 5px 2.5px var(--colorSombras);
}
.contenido__text{
  display: inline-block;
  color: var(--colorAdicional);
  font-size: 1.8rem;
}



.section{
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--sectionSize);
  height: 100%;
  background-color: var(--colorSecundario);
  border-radius: var(--borderRadiusForms) 0 0 var(--borderRadiusForms);
  filter: drop-shadow(-5px 0 10px var(--colorSombras));

}

.formLogin{
  display: flex;
  flex-direction: column;
  padding: 3%;
  align-items: center;
  width: 75%;
}
.formLogin__space{
  height: max-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;
}
.formLogin__title{
  font-size: 40px;
  text-align: center;
  padding-bottom: 8%;
  color: var(--colorPrincipal);
}
.formLogin__label{
  width: 100%;
  text-align: left;
  font-size: 1.5rem;
  padding: 40px 0 10px 0;
  font-weight: 400;
}

.formLogin__input, .formLogin__select{
  width: 100%;
  font-size: 1.2rem;
  border-radius: var(--borderRadiusInputs);
  padding: 0.6rem 1.2rem;
  outline: none;
  border: none;
  transition: var(--timeTransition);
}
.formLogin__input:focus{
  filter: drop-shadow(0px 0px 4px var(--colorTerciario));
}

.formLogin__input--empty{
  filter: drop-shadow(0px 0px 4px red);
}
.formLogin__mensaje{
  color: red;
  position: absolute;
  top: 102%;
  left: 0;
}

.formLogin__button{
  text-align: center;
  width: 50%;
  padding: 0.6rem;
  margin-top: 60px;
  font-size: 1.2rem;
  width: 40%;
  border: none;
  border-radius: var(--borderRadiusInputs);
  background-color: var(--colorTerciario);
  color: var(--colorBlanco);
  cursor: pointer;
  transition: var(--timeTransition);
}
.formLogin__button:hover{
  filter: drop-shadow(0px 0px 5px var(--colorPrincipal));
}
.formLogin__acces{
  text-decoration: none;
  color: var(--colorBlanco);
}



.formLogin__links{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.formLogin__link{
  color: var(--colorPrincipal);
  font-weight: 430;
  transition: var(--timeTransition);
  font-size: 0.9rem;
}
.formLogin__link:hover{
  color: var(--colorTerciario);
}


/* Media Queries */
@media (max-width: 1440px) {
  .contenido__title{
    font-size: 5.5rem;
  }
  .contenido__text{
    font-size: 1.4rem;
  }
}

@media (max-width: 930px) {
  .contenido{
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .contenido__logo{
    width: 200px;
  }

  .contenido__title{
    font-size: 5rem;
  }
  .contenido__text{
    font-size: 1.2rem;
  }
}