<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inicio</title>
  <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet" />
  <link rel="stylesheet" href="../../../src/styles/inicio.css">
</head>

<body>
  <header class="header">
    <div class="header__acces acces">
      <a class="acces__icon" href="#/tipolavados">
        <i class="ri-car-washing-fill"></i>
      </a>
      <a class="acces__icon" href="#/lavadores">
        <i class="ri-team-fill"></i>
      </a>
      <button class="acces__icon" id="header-vehiculo">
        <i class="ri-add-circle-fill"></i>
      </button>
    </div>
    <div class="header__info">
      <div>
        <h3 class="header__nameUser">Nombre de usuario</h3>
        <h6 class="header__nameRol">Rol</h6>
      </div>
      <i class="ri-account-circle-line header__icon"></i>
      <a class="header__salir" href="#/login">Cerrar Sesión</a>
    </div>
  </header>
  <aside class="aside asideGestion">
    <div class="aside__content">
      <h2 class="content__titulo">Tipos de lavados</h2>
      <div class="content" id="contenedor_tipo_lavados">
        <!-- <span class="content__field">ID: 1 | Basico - Car</span>
        <span class="content__field">ID: 2 | Motor - Car</span>
        <span class="content__field">ID: 3 | Tapiceria - Car</span> -->
      </div>
      <div class="content__field content__field--center">
        <button class="content__button">
          <a class="content__link" href="#/tipolavados">Gestionar</a>
        </button>
      </div>
    </div>
    <div class="aside__content">
      <h2 class="content__titulo">Lavadores</h2>
      <div class="content" id="contenedor_lavadores">
        <!-- <span class="content__field">ID: 101 | Andres</span>
        <span class="content__field">ID: 102 | Felipe</span>
        <span class="content__field">ID: 203 | Willian</span> -->
      </div>
      <div class="content__field content__field--center">
        <button class="content__button">
          <a class="content__link" href="#/lavadores">Gestionar</a>
        </button>
      </div>
    </div>

  </aside>

  <main class="lavados_main">
    <h4 class="panel__title">Vehiculos ingresados</h4>
    <div class="panel" id="contenedor_ingresos">
      <div class="panel__card panel__card--add">
        <button class="space__icon space__icon--big" id="card-vehiculo">
          <i class="ri-add-circle-fill"></i>
        </button>
      </div>

      <!-- <div class="panel__card card">
        <div class="card__information">
          <small class="card__vehicle">Moto</small>
          <i class="ri-delete-bin-6-fill card__icon"></i>
        </div>
        <strong class="card__plate">HLH02H</strong>
        <div class="card__space space">
          <a class="space__icon" href="#/vehiculo">
            <i class="ri-edit-2-line"></i>
          </a>
          <a class="space__icon space__icon--scale" href="#/asignarLavado">
            <i class="ri-car-washing-fill"></i>
          </a>
        </div>
        <div class="card__washer">
          <small>Felipe</small>
          <i class="ri-user-5-fill card__icon"></i>
        </div>
      </div> -->

    </div>
    <h4 class="panel__title">Lavados</h4>
    <div class="panel" id="contenedor_lavados">
      <!-- <div class="panel__card panel__card--active card">
        <div class="card__information">
          <small class="card__vehicle">Moto</small>
          <i class="ri-delete-bin-6-fill card__icon"></i>
        </div>
        <strong class="card__plate">ODS17H</strong>
        <div class="card__space space">
          <a class="space__icon" href="#/asignarLavado">
            <i class="ri-edit-2-line"></i>
          </a>
          <a class="space__icon space__icon--scale" href="#/pago">
            <i class="ri-money-dollar-circle-line"></i>
          </a>
        </div>
        <div class="card__washer">
          <small>Willian</small>
          <i class="ri-user-5-fill card__icon"></i>
        </div>
      </div> -->
    </div>
  </main>

  <aside class="aside aside--historial">
    <div class="aside__content">
      <h2 class="content__titulo">Historial</h2>
      <div class="content scrollSecundario" id="contenedor_historial">
        <!-- <span class="content__field content__field--centerCeleste">Placa - JFU43D</span>
        <span class="content__field content__field--centerCeleste">Placa - FKR643</span>
        <span class="content__field content__field--centerCeleste">Placa - HTD45A</span>
        <span class="content__field content__field--centerCeleste">Placa - FGH346</span>
        <span class="content__field content__field--centerCeleste">Placa - 567GSD</span>
        <span class="content__field content__field--centerCeleste">Placa - HEB53H</span>
        <span class="content__field content__field--centerCeleste">Placa - SDS434</span>
        <span class="content__field content__field--centerCeleste">Placa - FDE45E</span> -->
      </div>
    </div>
  </aside>
</body>

</html>