<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Asignación de lavado</title>
  <link rel="stylesheet" href="../../../src/styles/formularios.css">
</head>

<body>
  <main class="main">
    <img class="main__logo main__logo--header" src="/src/images/Recurso 2.png" alt="">
    <h1 class="main__title">Selección de lavado</h1>
    <form class="form form--little" id="form-Registro">
      <div class="form__space">
        <label class="form__label" for="placa">Placa:</label>
        <input class="form__input" type="text" name="placa" value="HLH02H" disabled>
      </div>
      <div class="form__space">
        <label class="form__label" for="type">Tipo de lavado:</label>
        <select class="form__select" name="type" id="">
          <option>Seleccione un tipo</option>
          <!-- <option value="1">Basico - Car</option>
          <option value="2">Motor - Car</option>
          <option value="3">Tapiceria</option>
          <option value="4">Basico - Moto</option> -->
        </select>
      </div>
      <div class="form__space">
        <label class="form__label" for="lavador">Lavador:</label>
        <select class="form__select" name="lavador" id="">
          <option>Seleccione lavador</option>
          <!-- <option value="1">Andres</option>
          <option value="2">Felipe</option>
          <option value="3">Willian</option> -->
        </select>
      </div>
      <div class="form__space form__space--button">
        <button class="form__button" type="submit">
          <a class="form__acces" href="inicio.html">Registrar</a>
        </button>

      </div>

    </form>
  </main>
</body>

</html>