<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lavados</title>
  <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet" />
  <link rel="stylesheet" href="CSS/tables.css">
</head>

<body>
  <main class="main">
    <img class="main__logo main__logo--header" src="Imagenes/Recurso 2.png" alt="">
    <h1 class="main__title">Registro de lavadores</h1>

    <form class="form form--little" action="">
      <div class="form__space">
        <label class="form__label" for="nombre">Nombre del lavador:</label>
        <input class="form__input" type="text" name="nombre" placeholder="ej: Juan Perez">
      </div>
      <div class="form__space">
        <label class="form__label" for="cedula">Cedula:</label>
        <input class="form__input" type="number" name="cedula" placeholder="2222222">
      </div>

      <div class="form__space form__space--button">
        <button class="form__button" type="submit">
          <a class="form__acces" href="inicio.html">Registrar</a>
        </button>

      </div>

    </form>

    <table class="table">
      <thead class="table__head">
        <tr>
          <th class="table__cell">Id</th>
          <th class="table__cell">Nombre</th>
          <th class="table__cell">Cedula</th>
          <th class="table__cell">Acciones</th>
        </tr>
      </thead>
      <tbody class="table__body">
        <tr class="table__row">
          <td class="table__cell">101</td>
          <td class="table__cell">Andres</td>
          <td class="table__cell">3786814</td>
          <td class="table__cell table__cell--separate">
            <button class="table__button">
              <i class="ri-edit-2-line"></i>
            </button>
            <button class="table__button table__button--delete">
              <i class="ri-delete-bin-2-fill"></i>
            </button>
          </td>
        </tr>
        <tr class="table__row">
          <td class="table__cell">102</td>
          <td class="table__cell">Felipe</td>
          <td class="table__cell">1102359345</td>
          <td class="table__cell table__cell--separate">
            <button class="table__button">
              <i class="ri-edit-2-line"></i>
            </button>
            <button class="table__button table__button--delete">
              <i class="ri-delete-bin-2-fill"></i>
            </button>
          </td>
        </tr>
        <tr class="table__row">
          <td class="table__cell">203</td>
          <td class="table__cell">Willian</td>
          <td class="table__cell">1097568412</td>
          <td class="table__cell table__cell--separate">
            <button class="table__button">
              <i class="ri-edit-2-line"></i>
            </button>
            <button class="table__button table__button--delete">
              <i class="ri-delete-bin-2-fill"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>

  </main>
</body>

</html>