<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lavados</title>
</head>

<body>
  <main class="main">
    <img class="main__logo main__logo--header" src="/src/images/Recurso 2.png" alt="">
    <h1 class="main__title">Registro de tipo de lavado</h1>

    <form class="form" action="" id="form-Registro" novalidate>
      <div class="form__space form__space--completed">
        <label class="form__label" for="nombre">Nombre del tipo de lavado:</label>
        <input class="form__input" type="text" name="nombre" placeholder="ej: Basico - Camioneta" autocomplete="off" required>
      </div>
      <div class="form__space">
        <label class="form__label" for="valor">Valor:</label>
        <input class="form__input" type="text" name="valor" placeholder="ej: 20.000" autocomplete="off" required>
      </div>
      <div class="form__space">
        <label class="form__label" for="duracion">Duración: (min)</label>
        <input class="form__input" type="text" name="duracion" placeholder="ej: 30" autocomplete="off" required>
      </div>

      <div class="form__space form__space--button">
        <button class="form__button" type="submit">
          Registrar
          <!-- <a class="form__acces" href="#/inicio">Registrar</a> -->
        </button>

      </div>

    </form>
  </main>
</body>

</html>